<script lang="ts">
	/**
	 * Validate selected employee timecard.
	 */
	import TimeCardStepStatus from '$lib/components/timecard/TimeCardStepStatus.svelte';
	import {
		Column,
		DataTable,
		Grid,
		Row,
		Checkbox,
		FormGroup,
		Modal,
		Button,
		Form
	} from 'carbon-components-svelte';
	import type { ActionData, PageData } from './$types';
	import { TextInput } from 'carbon-components-svelte';
	import TimecardCell from '$lib/components/timecard/TimecardCell.svelte';
	import { TimeCardStatus } from '$lib/types/TimeCard';

	export let data: PageData;
	const { timecard } = data;
	export let form: ActionData;
	let accepted = false;
	let modalOpen = false;
	let validated = false;
	let formElement: HTMLFormElement;

	const handSubmit = (event: Event) => {
		if (!accepted || !validated) event.preventDefault();
	};
	const headers = [
		{ key: 'timeCardDateString', value: 'Date' },
		{ key: 'inTimeString', value: 'In' },
		{ key: 'outTimeString', value: 'Out' },
		{ key: 'exceptions', value: 'Tags' },
		{ key: 'overtimeFinal', value: 'Overtime' },
		{ key: 'unfulfilledFinal', value: 'Tardy/Undertime' },
		{ key: 'overBreakFinal', value: 'Overbreak' },
		{ key: 'absenceFinal', value: 'Absence' },
		{ key: 'userStatus', value: 'Employee Status' },
		{ key: 'userRemarks', value: 'Employee Remarks' },
		{ key: 'id', value: 'Check to Disapprove / Remarks' }
	];
</script>

{#if timecard.statusId === TimeCardStatus.EmployeeSubmitted}
	<Form method="POST" on:submit={handSubmit} bind:ref={formElement}>
		<Grid>
			<Row style="margin-bottom: 1rem; padding-top: 1rem">
				<Column>
					<TimeCardStepStatus statusId={timecard?.statusId} />
				</Column>
			</Row>
			<Row>
				<Column>
					<DataTable
						{headers}
						rows={timecard.timeCardValidationDetails}
						description="To disapprove, check the checkbox (rightmost column) and provide a reason for disapproval. Certify and submit to send DTR to HRD."
					>
						<svelte:fragment slot="cell" let:row let:cell>
							{#if cell.key === 'id'}
								{#if row.userStatus === 'DISPUTED'}
									<FormGroup style="display: flex; justify-content: flex-start; margin: 0.5rem">
										{@const disapprove = form?.data?.get(`disapprove[${cell.value}]`)?.toString()}
										{@const remarks = form?.data?.get(`remarks[${cell.value}]`)?.toString()}
										{@const error = form?.errors?.get(cell.value)}
										<Checkbox
											name={`disapprove[${cell.value}]`}
											hideLabel
											checked={disapprove !== undefined || row.headStatus === 'DISAPPROVED'}
											style="margin-right: 0.5rem"
										/>
										<TextInput
											name={`remarks[${cell.value}]`}
											light
											hideLabel
											placeholder="Remarks"
											invalid={error !== undefined}
											invalidText={error?.toString()}
											value={remarks || row.headRemarks}
										/>
									</FormGroup>
								{:else}
									<em>N/A</em>
								{/if}
							{:else}
								<TimecardCell {cell} />
							{/if}
						</svelte:fragment>
					</DataTable>
				</Column>
			</Row>
			<Row>
				<Column>
					<Checkbox
						bind:checked={accepted}
						labelText="I certify that the information provided is true and correct."
					/>
				</Column>
			</Row>
			<Row>
				<Column>
					<Button
						disabled={!accepted}
						type="submit"
						on:click={(e) => {
							e.preventDefault();
							modalOpen = true;
						}}>Submit</Button
					>
				</Column>
			</Row>
		</Grid>
	</Form>
	<Modal
		bind:open={modalOpen}
		modalHeading="Validate DTR"
		primaryButtonText="Confirm"
		secondaryButtonText="Cancel"
		on:click:button--secondary={() => (modalOpen = false)}
		on:click:button--primary={() => {
			validated = true;
			formElement.submit();
			modalOpen = false;
		}}
	>
		<p>Are you sure you want to submit?</p>
	</Modal>
{:else}
	<div style="margin-top: 1rem;">
		<h4 style="font-size: 1.2rem">
			You can't edit this because of its status: {timecard.statusId}
		</h4>
		<p><TimeCardStepStatus statusId={timecard?.statusId} /></p>
	</div>
{/if}
