<script lang="ts">
	import TimeCardStepStatus from '$lib/components/timecard/TimeCardStepStatus.svelte';
	import {
		Column,
		DataTable,
		Grid,
		Row,
		Tile,
		StructuredList,
		StructuredListRow,
		StructuredListHead,
		StructuredListBody,
		StructuredListCell
	} from 'carbon-components-svelte';
	import type { PageData } from './$types';
	import TimecardCell from '$lib/components/timecard/TimecardCell.svelte';
	import SecondsToHourNum from '$lib/components/timecard/SecondsToHourNum.svelte';

	export let data: PageData;
	const { timecard } = data;
	const { totalAbsenceFinalHrd, totalOverBreakFinalHrd, totalOvertimeFinalHrd, totalUnfulfilledFinalHrd } = timecard;
	const headers = [
		{ key: 'timeCardDateString', value: 'Date' },
		{ key: 'inTimeString', value: 'In' },
		{ key: 'outTimeString', value: 'Out' },
		{ key: 'exceptions', value: 'Tags' },
		{ key: 'hrdOverride', value: 'Overriden' },
		{ key: 'overtimeFinalHrd', value: 'Overtime (hr)' },
		{ key: 'unfulfilledFinalHrd', value: 'Undertime/Tardy (hr)' },
		{ key: 'overBreakFinalHrd', value: 'Overbreak (hr)' },
		{ key: 'absenceFinalHrd', value: 'Absence (day)' },
		{ key: 'userStatus', value: 'Employee Status' },
		{ key: 'headStatus', value: 'Head Status' }
	];
</script>

<Grid padding>
	<Row>
		<Column>
			<h2>{timecard.displayName} ({timecard.department.campus.name}: {timecard.department.name})</h2>
		</Column>
	</Row>
	<Row>
		<Column>
			<TimeCardStepStatus statusId={timecard?.statusId} />
		</Column>
	</Row>
	<Row>
		<Column>
			<DataTable {headers} rows={timecard.timeCardValidationDetails}>
				<svelte:fragment slot="cell" let:row let:cell>
					<TimecardCell {row} {cell} />
				</svelte:fragment>
			</DataTable>
		</Column>
		<Column>
			<Tile>
				<StructuredList>
					<StructuredListHead>
						<StructuredListRow head>
							<StructuredListCell head>
								SUMMARY
							</StructuredListCell>
						</StructuredListRow>
					</StructuredListHead>
					<StructuredListBody>
						<StructuredListRow>
							<StructuredListCell head>Total Overtime</StructuredListCell>
							<StructuredListCell
								><SecondsToHourNum
									seconds={totalOvertimeFinalHrd}
								/>hrs</StructuredListCell
							>
						</StructuredListRow>
						<StructuredListRow>
							<StructuredListCell head>Total Tardy/Undertime</StructuredListCell>
							<StructuredListCell
								><SecondsToHourNum
									seconds={totalUnfulfilledFinalHrd}
								/>hrs</StructuredListCell
							>
						</StructuredListRow>
						<StructuredListRow>
							<StructuredListCell head>Total Overbreak</StructuredListCell>
							<StructuredListCell
								><SecondsToHourNum
									seconds={totalOverBreakFinalHrd}
								/>hrs</StructuredListCell
							>
						</StructuredListRow>
						<StructuredListRow>
							<StructuredListCell head>Total Absence</StructuredListCell>
							<StructuredListCell
								>{totalAbsenceFinalHrd ?? '--'}days</StructuredListCell
							>
						</StructuredListRow>
					</StructuredListBody>
				</StructuredList>
			</Tile>
		</Column>
	</Row>
</Grid>
