<script lang="ts">
	import 'carbon-components-svelte/css/all.css';
	import '../app.css';
	import {
		Header,
		// HeaderNav,
		// HeaderNavItem,
		// HeaderNavMenu,
		SideNav,
		SideNavItems,
		// SideNavMenu,
		// SideNavMenuItem,
		SideNavLink,
		SideNavDivider,
		SkipToContent,
		Content,
		HeaderUtilities,
		HeaderGlobalAction,
		Column,
		Grid,
		Row,
		InlineNotification,
		Breadcrumb,
		BreadcrumbItem,
		Loading
	} from 'carbon-components-svelte';
	import Home from 'carbon-icons-svelte/lib/Home.svelte';
	// import Time from 'carbon-icons-svelte/lib/Time.svelte';
	import Login from 'carbon-icons-svelte/lib/Login.svelte';
	import Logout from 'carbon-icons-svelte/lib/Logout.svelte';
	import type { LayoutData } from './$types';
	import { Calendar, CheckmarkFilled, ListChecked } from 'carbon-icons-svelte';
	import { browser } from '$app/environment';
	import { onNavigate } from '$app/navigation';
	import { getFlash } from 'sveltekit-flash-message';
	import { page, navigating } from '$app/stores';

	export let data: LayoutData;
	let isSideNavOpen = false;
	let path: string | undefined = undefined;
	if (browser) path = window.location.pathname;
	onNavigate((navigation) => {
		path = navigation.to?.url.pathname;
	});

	const flash = getFlash(page);
</script>

<Header company="CEU" platformName="Daily-Time-Record" bind:isSideNavOpen>
	<svelte:fragment slot="skip-to-content">
		<SkipToContent />
	</svelte:fragment>
	<HeaderUtilities>
		{#if data.user}
			<HeaderGlobalAction
				iconDescription="Log out"
				tooltipAlignment="end"
				icon={Logout}
				href="/logout"
			/>
		{/if}
	</HeaderUtilities>
</Header>

<SideNav isOpen={isSideNavOpen} rail>
	<SideNavItems>
		<SideNavLink icon={Home} text="Home" href="/" isSelected={path === '/'} />
		{#if data.user}
			<SideNavLink
				icon={Calendar}
				text="Summary"
				href="/summary"
				isSelected={path === '/summary'}
			/>
			<!-- <SideNavLink
				icon={ListChecked}
				text="Validate DTR"
				href="/validate"
				isSelected={path === '/validate'}
			/> -->
			<SideNavDivider />
			<SideNavLink icon={Logout} text="Logout" href="/logout" />
		{:else}
			<SideNavDivider />
			<SideNavLink icon={Login} text="Login" href="/login/keycloak" />
		{/if}
	</SideNavItems>
</SideNav>

<Content>
	<Grid>
		<Row>
			<Column>
				<Breadcrumb>
					{#each data.crumbs as crumb, i}
						<BreadcrumbItem href={crumb.path} isCurrentPage={i === data.crumbs.length - 1}
							>{crumb.title}</BreadcrumbItem
						>
					{/each}
				</Breadcrumb>
				<!-- <Breadcrumb>
					<BreadcrumbItem href="" isCurrentPage>Home</BreadcrumbItem>
				</Breadcrumb> -->
			</Column>
		</Row>
		<Row>
			<Column>
				{#if $flash}
					<InlineNotification
						lowContrast
						kind={$flash.type}
						title="{$flash.type.toUpperCase()}:"
						subtitle={$flash.message}
					/>
				{/if}
			</Column>
		</Row>
	</Grid>
	<slot />
</Content>

{#if $navigating}
	<Loading />
{/if}
