<script lang="ts">
	import Welcome from '$lib/components/Welcome.svelte';
	import { ClickableTile, Column, Grid, Row } from 'carbon-components-svelte';
	import type { PageData } from './$types';
	import Calendar from 'carbon-pictograms-svelte/lib/Calendar.svelte';
	import ListCheckbox from 'carbon-pictograms-svelte/lib/ListCheckbox.svelte';
	import Group from 'carbon-pictograms-svelte/lib/Group.svelte';
	import FinancialConsultant from 'carbon-pictograms-svelte/lib/FinancialConsultant.svelte';
	export let data: PageData;
</script>

{#if data.user}
	<Grid padding>
		<Row>
			{#if data.isHRD}
				<Column>
					<ClickableTile href="/hrd">
						<Grid>
							<Row>
								<Column>
									<Group />
								</Column>
							</Row>
							<Row>
								<Column>
									<h1>HRD</h1>
								</Column>
							</Row>
						</Grid>
					</ClickableTile>
				</Column>
			{/if}
			{#if data.isACCOUNTING}
				<Column>
					<ClickableTile href="/accounting">
						<Grid>
							<Row>
								<Column>
									<FinancialConsultant />
								</Column>
							</Row>
							<Row>
								<Column>
									<h1>Accounting</h1>
								</Column>
							</Row>
						</Grid>
					</ClickableTile>
				</Column>
			{/if}
			{#if data.department}
				<Column>
					<ClickableTile href="/head">
						<Grid>
							<Row>
								<Column>
									<ListCheckbox />
								</Column>
							</Row>
							<Row>
								<Column>
									<h1>Departments</h1>
								</Column>
							</Row>
						</Grid>
					</ClickableTile>
				</Column>
			{/if}
			<Column>
				<ClickableTile href="/summary">
					<Grid>
						<Row>
							<Column>
								<Calendar />
							</Column>
						</Row>
						<Row>
							<Column>
								<h1>Summary</h1>
							</Column>
						</Row>
					</Grid>
				</ClickableTile>
			</Column>
			<Column>
				<ClickableTile href="/validate">
					<Grid>
						<Row>
							<Column>
								<ListCheckbox />
							</Column>
						</Row>
						<Row>
							<Column>
								<h1>Validate&nbsp;DTR</h1>
							</Column>
						</Row>
					</Grid>
				</ClickableTile>
			</Column>
		</Row>
	</Grid>
{:else}
	<Welcome />
{/if}
