<script lang="ts">
	import { toLocaleDateString } from "$lib/helpers/TimeCard";
	import { Button, DataTable } from "carbon-components-svelte";
	import type { DataTableHeader } from "carbon-components-svelte/src/DataTable/DataTable.svelte";
    export let headers: ReadonlyArray<DataTableHeader>;
    export let rows: any[];
	export let title: string | undefined = undefined;
	export let description: string | undefined = undefined;
	export let pathPrefix: string;
</script>

<DataTable
	{title}
	{description}
	{headers}
	{rows}
>
	<svelte:fragment slot="cell" let:row let:cell>
		{#if cell.value instanceof Date}
			{toLocaleDateString(cell.value)}
		{:else if cell.key === 'id'}
			{@const startDate = row.startDate instanceof Date ? toLocaleDateString(row.startDate) : ''}
			{@const endDate = row.endDate instanceof Date ? toLocaleDateString(row.endDate) : ''}
			<Button kind="ghost" href={`${pathPrefix}/${cell.value}`}>{startDate} - {endDate}</Button>
		{:else}
			{cell.value}
		{/if}
	</svelte:fragment>
</DataTable>
