<script lang="ts">
	import { getSecondsToHour } from "$lib/helpers/TimeCard";
	import { TextInput } from "carbon-components-svelte";

    export let name: string;
	export let value: number | undefined;
    export let invalid: boolean = false;
    export let invalidText: string | undefined = undefined;
    export let conversion: 'SEC2HR' | 'NONE' = 'NONE';
    let convertedValue: number;
    let unconvertedValue: number;

    const getConvertedValue = () => {
        let val = value ?? 0;
        if (conversion === 'SEC2HR') {
            return getSecondsToHour(val);
        }
        return val;
    };

    convertedValue = getConvertedValue();
    $: {    
        if (conversion === 'SEC2HR') {
            unconvertedValue = convertedValue * 60 * 60;
        } else {
            unconvertedValue = convertedValue;
        }
    }
</script>
<input type="hidden" {name} value={unconvertedValue} />
<!-- TODO: Handle on change -->
<TextInput
    bind:value={convertedValue}
    {invalid}
    {invalidText}
	type="number"
	min="0"
	step="0.001"
	light
	hideLabel
    style="min-width: 6rem"
/>
