<script lang="ts">
	export let seconds: number | string | undefined | null;
	if (typeof seconds === 'string') seconds = parseFloat(seconds);

</script>

{#if seconds === undefined || seconds === null || isNaN(seconds)}
	--
{:else}
	<span>{Math.floor((seconds * 1000) / 3600) / 1000}</span>
{/if}
