<script lang="ts">
	import { getTimeCardStepFromStatusId, getTimeCardSteps } from '$lib/helpers/TimeCard';
	import { ProgressIndicator, ProgressStep } from 'carbon-components-svelte';

	export let vertical: boolean = false;
	export let statusId: string;
	let steps = getTimeCardSteps();
	let currentStep = getTimeCardStepFromStatusId(statusId);
</script>

<ProgressIndicator preventChangeOnClick {vertical} currentIndex={currentStep}>
    {#each steps as step}
	    <ProgressStep complete={currentStep >= step.step} label={step.label} description={step.description} />
    {/each}
</ProgressIndicator>
