<script lang="ts">
    export let dateTime: string | Date;
    const timeOnly = (dateTime: string | Date) => {
        if (typeof dateTime === 'string' && isNaN(Date.parse(dateTime))) return '-';
        const date = new Date(dateTime);
        return date.toLocaleTimeString('en-PH', { hour12: false });
    };
</script>

<div>{timeOnly(dateTime)}</div>
