<script lang="ts">
	import { Tag, DataTable, TooltipDefinition } from 'carbon-components-svelte';
	import SecondsToHourNum from './SecondsToHourNum.svelte';
	import TimeOnly from './TimeOnly.svelte';
	import { TimeCardHeadStatus, TimeCardUserStatus } from '$lib/types/TimeCard';
	import TimeCardStepStatus from './TimeCardStepStatus.svelte';
	import type { DataTableRow } from 'carbon-components-svelte/src/DataTable/DataTable.svelte';

	export let cell: {
		value: any;
		key: string;
	};
	export let row: DataTableRow;
	const tooltipText =
		"The value on the left is the override value (new value), \
		and the value on the right is the original value. If the tag is in red, \
		it means that the value has changed. If \"--\", the value is yet to be determined.";
</script>

{#if cell.key === 'statusId'}
	<TimeCardStepStatus statusId={cell.value} />
{:else if cell.key === 'timeCardDateString'}
	{cell.value}
{:else if cell.key === 'in_time_string' || cell.key === 'out_time_string' || cell.key === 'inTimeString' || cell.key === 'outTimeString'}
	{#if cell.value}
		<TimeOnly dateTime={cell.value} />
	{:else}
		-
	{/if}
{:else if cell.key === 'unfulfilledFinal' || cell.key === 'overBreakFinal' || cell.key === 'overtimeFinal'}
	<SecondsToHourNum seconds={cell.value} />
{:else if cell.key === 'unfulfilledFinalHrd' || cell.key === 'overBreakFinalHrd' || cell.key === 'overtimeFinalHrd'}
	<div style="min-width: 6rem;">
		<Tag type={typeof cell.value != 'number' || cell.value === row[`${cell.key.slice(0, -3)}`] ? 'gray' : 'red'}>
			<TooltipDefinition {tooltipText}>
				<SecondsToHourNum seconds={cell.value} />
			</TooltipDefinition>
		</Tag>
		<SecondsToHourNum seconds={row[`${cell.key.slice(0, -3)}`]} />
	</div>
{:else if cell.key === 'absenceFinalHrd'}
	<div style="min-width: 6rem;">
		<Tag type={typeof cell.value != 'number' || cell.value === row.absenceFinal ? 'gray' : 'red'}>
			<TooltipDefinition {tooltipText}>
				{cell.value ?? '--'}
			</TooltipDefinition>
		</Tag>
		{row.absenceFinal}
	</div>
{:else if cell.key === 'normal'}
	<SecondsToHourNum seconds={cell.value.overtime} />
{:else if cell.key === 'userStatus'}
	<Tag style="min-width: 5rem" type={cell.value === TimeCardUserStatus.Accepted ? 'green' : 'red'}>
		{cell.value}
	</Tag>
{:else if cell.key === 'headStatus' && typeof cell.value === 'string'}
	<Tag style="min-width: 5rem" type={cell.value === TimeCardHeadStatus.Approved ? 'green' : 'red'}>
		{cell.value}
	</Tag>
{:else if cell.key === 'hrdOverride' && typeof cell.value === 'boolean'}
	<div style="width: 100%;">
		<Tag type={cell.value ? 'red' : 'gray'}>
			{cell.value ? 'Yes' : 'No'}
		</Tag>
	</div>
{:else if cell.key === 'exceptions'}
	{cell.value.map((timeString) => timeString.name).join(', ')}
{:else if cell.value instanceof Date}
	{cell.value.toLocaleDateString('en-PH', {
		year: 'numeric',
		month: 'long',
		day: 'numeric'
	})}
{:else}
	{cell.value ?? '-'}
{/if}
