<script lang="ts">
	import { Column, DataTable, Grid, Link, Row } from 'carbon-components-svelte';
	import type { PageData } from './$types';
    import { page } from '$app/stores';
	import { toLocaleDateString } from '$lib/helpers/TimeCard';

	export let data: PageData;
	const headers = [
		{ key: 'campus', value: 'Campus' },
		{ key: 'department', value: 'Department' },
		{ key: 'employeeSubmittedCount', value: 'Pending Manager Approval' },
		{ key: 'managerSubmittedCount', value: 'Pending HRD Approval' },
		{ key: 'hrdSubmittedCount', value: 'HRD Approved' }
	];
</script>

<Grid padding>
	<Row>
		<Column>
			<h2>Accounting DTR Validation: 
				<em>
					{toLocaleDateString(data.cutoff.startDate)} -
					{toLocaleDateString(data.cutoff.endDate)}
				</em>
			</h2>
		</Column>
	</Row>
	<Row style="padding-top: 1rem;">
		<Column>
			<DataTable sortable {headers} rows={data.departmentSummary}>
				<svelte:fragment slot="cell" let:row let:cell>
					{#if cell.key === 'department'}
						<Link href={`${$page.url.pathname}/${row.id}`}>
							{cell.value}
						</Link>
					{:else}
						{cell.value}
					{/if}
				</svelte:fragment>
			</DataTable>
		</Column>
	</Row>
</Grid>
