<script lang="ts">
	import {
		Button,
		Column,
		DataTable,
		DataTableSkeleton,
		Grid,
		Link,
		Row
	} from 'carbon-components-svelte';
	import type { PageData } from './$types';
	import { toLocaleDateString } from '$lib/helpers/TimeCard';
	import CuttoffSummaryTable from '$lib/components/timecard/CuttoffSummaryTable.svelte';

	export let data: PageData;
	const headers = [
		{ key: 'id', value: 'Cutoff' },
		{ key: 'status', value: 'Status' },
		{ key: 'employeeSubmitted', value: 'Pending Dean/Head' },
		{ key: 'managerSubmitted', value: 'Pending HRD' },
		{ key: 'hrdSubmitted', value: 'HRD Approved' }
	];
</script>

<Grid padding>
	<Row>
		<Column>
			<h2>HRD DTR Validation</h2>
		</Column>
	</Row>
	<Row>
		<Column>
			<CuttoffSummaryTable
				{headers}
				rows={data.cutoffs}
				pathPrefix="/hrd/validate"
			/>
		</Column>
	</Row>
</Grid>
