<script lang="ts">
	import { Button, Column, FileUploader, Form, Grid, InlineNotification, Row } from 'carbon-components-svelte';
	import type { ActionData, PageData } from './$types';
	import { fade } from 'svelte/transition';

	// export let data: PageData;
	export let form: ActionData;

	let status: 'edit' | 'uploading' | 'complete' = 'edit';
	let file: File | undefined;
</script>

<Form method="POST" enctype="multipart/form-data">
	<Grid padding>
        {#if form?.error}
            <Column>
                <Row>
                    <InlineNotification title="Error:" subtitle={form.error} kind="error" />
                </Row>
            </Column>
        {/if}
		<Column>
			<Row>
				<FileUploader
					name="file"
					labelTitle="Upload Employee # and E-Mail Mapping"
					labelDescription="Only CSV files are accepted."
					buttonLabel="Add file"
					accept={['.csv']}
					kind="ghost"
					{status}
					on:add={(event) => {
						if (
							event.detail instanceof Array &&
							event.detail.length > 0 &&
							event.detail[0] instanceof File
						) {
							file = event.detail[0];
						}
					}}
					on:remove={() => {
						file = undefined;
					}}
				/>
			</Row>
		</Column>
		{#if file}
			<div transition:fade>
				<Column>
					<Row>
						<Button type="submit">Submit</Button>
					</Row>
				</Column>
			</div>
		{/if}
	</Grid>
</Form>
