<script lang="ts">
	/**
	 * List departments under the current user.
 	 */
	import { Button, Column, DataTable, Grid, Link, Row } from 'carbon-components-svelte';
	import type { PageData } from './$types';

	export let data: PageData;
	const headers = [
		{ key: 'campus', value: 'Campus' },
		{ key: 'id', value: 'Department' }
	];
</script>

<Grid padding>
	<Row>
		<Column>
			<h2>Departments</h2>
		</Column>
	</Row>
	<Row>
		<Column>
			<DataTable
				{headers}
				rows={data.departments}
			>
				<svelte:fragment slot="cell" let:row let:cell>
					{#if cell.key === 'id'}
					<Button kind="ghost" href={`/head/${cell.value}`}>{row.name}</Button>
					{:else if cell.key === 'campus'}
						{cell.value.name}
					{:else}
						{cell.value}
					{/if}
				</svelte:fragment>
			</DataTable>
		</Column>
	</Row>
</Grid>
