<script lang="ts">
	import {
		Button,
		Column,
		DataTable,
		DataTableSkeleton,
		Grid,
		Row
	} from 'carbon-components-svelte';
	import type { PageData } from './$types';
	import TimeCardStepStatus from '$lib/components/timecard/TimeCardStepStatus.svelte';
	import { toLocaleDateString } from '$lib/helpers/TimeCard';
	const headers = [
		{ key: 'id', value: 'Cutoff' },
		{ key: 'timeCardValidations', value: 'Status' }
	];
	export let data: PageData;
</script>

<Grid padding>
	<Row>
		<Column>
			<h1>Validate Cutoff</h1>
		</Column>
	</Row>
	<Row>
		<Column>
			{#await data.cutoffs}
				<DataTableSkeleton {headers} showToolbar={false} />
			{:then rows}
				<DataTable
					{headers}
					{rows}
					title="Cutoff List"
					description="Click the Cutoff ID to validate."
				>
					<svelte:fragment slot="cell" let:row let:cell>
						{#if cell.value instanceof Date}
							{toLocaleDateString(cell.value)}
						{:else if cell.key === 'id'}
							<Button kind="ghost" href="/validate/{cell.value}">
								{@const startDate = row.startDate instanceof Date ? toLocaleDateString(row.startDate) : ''}
								{@const endDate = row.endDate instanceof Date ? toLocaleDateString(row.endDate) : ''}
								{startDate} - {endDate}
							</Button>
						{:else if cell.key === 'timeCardValidations'}
							{#if cell.value.length > 0}
								{@const validation = cell.value[0]}
								<TimeCardStepStatus statusId={validation.statusId} />
							{:else}
								<em>
									- Empty -
								</em>
							{/if}
						{:else}
							{cell.value}
						{/if}
					</svelte:fragment>
				</DataTable>
			{/await}
		</Column>
	</Row>
</Grid>
