<script lang="ts">
	import {
		Column,
		Grid,
		Row,
		DataTable,
		FormGroup,
		Checkbox,
		TextInput,
		Form,
		Button,
		Tag,
		InlineNotification
	} from 'carbon-components-svelte';
	import type { ActionData, PageData } from './$types';
	import TimecardCell from '$lib/components/timecard/TimecardCell.svelte';
	import { getOverrideValue, getSecondsToHour } from '$lib/helpers/TimeCard';
	import HourInput from '$lib/components/timecard/HourInput.svelte';
	import TimeCardStepStatus from '$lib/components/timecard/TimeCardStepStatus.svelte';
	import { TimeCardHeadStatus, TimeCardStatus } from '$lib/types/TimeCard';

	export let data: PageData;
	export let form: ActionData;

	const headers = [
		{ key: 'timeCardDateString', value: 'Date' },
		{ key: 'inTimeString', value: 'In' },
		{ key: 'outTimeString', value: 'Out' },
		{ key: 'exceptions', value: 'Tags' },
		{ key: 'userStatus', value: 'Employee Status' },
		{ key: 'headStatus', value: 'Head Status' },
		{ key: 'headRemarks', value: 'Head Remarks' },
		{ key: 'id', value: 'Check to Override' },
		{
			key: 'overtimeFinal',
			value: `Overtime (${getSecondsToHour(data.timecard.totalOvertimeFinalHrd ?? 0)}hrs)`
		},
		{
			key: 'unfulfilledFinal',
			value: `Tardy/Undertime (${getSecondsToHour(data.timecard.totalUnfulfilledFinalHrd ?? 0)}hrs)`
		},
		{
			key: 'overBreakFinal',
			value: `Overbreak (${getSecondsToHour(data.timecard.totalOverBreakFinalHrd ?? 0)}hrs)`
		},
		{ key: 'absenceFinal', value: `Absence (${data.timecard.totalAbsenceFinalHrd ?? 0}days)` },
		{ key: 'remarks', value: 'Remarks' }
	];
</script>

<Form method="POST">
	<Grid padding>
		<Row>
			<Column>
				{#if data.timecard.statusId !== TimeCardStatus.ManagerSubmitted}
					 <InlineNotification
						 kind="warning"
						 title="Warning:"
						 subtitle="You are about to override the DTR wihtout the head's approval."
					 />
				{/if}
			</Column>
		</Row>
		<Row>
			<Column>
				<h2>
					{data.employee.name} ({data.employee.department.campus.name}: {data.employee.department
						.name})
				</h2>
			</Column>
		</Row>
		<Row>
			<Column>
				<TimeCardStepStatus statusId={data.timecard.statusId} />
			</Column>
		</Row>
		<Row>
			<Column>
				<DataTable {headers} rows={data.timecard.timeCardValidationDetails}>
					<svelte:fragment slot="cell" let:row let:cell>
						{@const override = row.headStatus === TimeCardHeadStatus.Approved}
						{#if cell.key === 'id'}
							{#if row.userStatus === 'DISPUTED'}
								<FormGroup style="display: flex; justify-content: flex-start; margin: 0.5rem">
									<Checkbox
										name={`override[${row.id}]`}
										hideLabel
										checked={row.hrdOverride === null ? override : row.hrdOverride}
										style="margin-right: 0.5rem"
									/>
								</FormGroup>
							{:else}
								<em>N/A</em>
							{/if}
						{:else if cell.key === 'overtimeFinal' || cell.key === 'unfulfilledFinal' || cell.key === 'overBreakFinal' || cell.key === 'absenceFinal'}
							{@const value = row[`${cell.key}Hrd`]}
							{@const overrideValue = override ? 0 : cell.value}
							{@const rounded =
								cell.key === 'absenceFinal' ? cell.value : getSecondsToHour(cell.value)}
							{#if row.userStatus === 'DISPUTED'}
								<FormGroup style="display: flex; justify-content: flex-start; margin: 0.5rem">
									<!-- invalid={errorRemakrs !== undefined}
									invalidText={errorRemakrs?.toString()} -->
									<HourInput
										name={`${cell.key}[${row.id}]`}
										conversion={cell.key === 'absenceFinal' ? 'NONE' : 'SEC2HR'}
										value={value || overrideValue}
									/>
									<Tag style="margin-left: 0.5rem; min-width: 3rem">
										{rounded}
									</Tag>
								</FormGroup>
							{:else}
								{rounded}
							{/if}
						{:else if cell.key === 'remarks'}
							{@const remarks = form?.data?.get(`remarks[${row.id}]`)?.toString()}
							{#if row.userStatus === 'DISPUTED'}
								{@const error = form?.errors?.get(`remarks[${row.id}]`)}
								<FormGroup style="display: flex; justify-content: flex-start; margin: 0.5rem">
									<TextInput
										name={`remarks[${row.id}]`}
										light
										hideLabel
										placeholder="Remarks"
										invalid={error !== undefined}
										invalidText={error?.toString()}
										value={remarks || row.hrdRemarks}
										style="min-width: 10rem"
									/>
								</FormGroup>
							{:else}
								<em>N/A</em>
							{/if}
						{:else}
							<TimecardCell {cell} />
						{/if}
					</svelte:fragment>
				</DataTable>
			</Column>
		</Row>
		<Row>
			<Column>
				<FormGroup>
					<Button kind="secondary" type="submit" name="action" value="save">Save as Draft</Button>
					<Button kind="primary" type="submit" name="action" value="submit">Save & Submit</Button>
				</FormGroup>
			</Column>
		</Row>
	</Grid>
</Form>
