<script lang="ts">
	import TimeCardStepStatus from '$lib/components/timecard/TimeCardStepStatus.svelte';
	import { Column, DataTable, Grid, Row, Tag } from 'carbon-components-svelte';
	import type { PageData } from './$types';
	import { TimeCardUserStatus } from '$lib/types/TimeCard';
	import TimeOnly from '$lib/components/timecard/TimeOnly.svelte';
	import SecondsToHourNum from '$lib/components/timecard/SecondsToHourNum.svelte';
	import TimecardCell from '$lib/components/timecard/TimecardCell.svelte';

	export let data: PageData;
	const { timecard } = data;
	const headers = [
		{ key: 'timeCardDateString', value: 'Date' },
		{ key: 'inTimeString', value: 'In' },
		{ key: 'outTimeString', value: 'Out' },
		{ key: 'exceptions', value: 'Tags' },
		{ key: 'overtimeFinal', value: 'Overtime' },
		{ key: 'unfulfilledFinal', value: 'Undertime/Tardy' },
		{ key: 'overBreakFinal', value: 'Overbreak' },
		{ key: 'absenceFinal', value: 'Absence' },
        { key: 'userStatus', value: 'Employee Status' },
        { key: 'userRemarks', value: 'Employee Remarks' },
	];
</script>

<Grid padding>
	<Row>
		<Column>
			<TimeCardStepStatus statusId={timecard?.statusId} />
		</Column>
	</Row>
	<Row>
		<Column>
			<DataTable {headers} rows={timecard.timeCardValidationDetails}>
				<svelte:fragment slot="cell" let:row let:cell>
					<TimecardCell {cell} />
				</svelte:fragment>
			</DataTable>
		</Column>
	</Row>
</Grid>
