<script lang="ts">
	import { Breadcrumb, BreadcrumbItem, Column, Grid, Row } from 'carbon-components-svelte';
	import Form from '../Form.svelte';
	import type { PageData } from './$types';

	export let data: PageData;
	const id = data.form.data.id;
</script>

<Grid padding>
	<Row>
		<Column>
			<h1>Edit Cutoff</h1>
		</Column>
	</Row>
	<Row>
		<Column>
			<Form {data} />
		</Column>
	</Row>
</Grid>
