<script lang="ts">
	import {
		Button,
		Checkbox,
		Column,
		DataTable,
		Form,
		FormGroup,
		Grid,
		Modal,
		Row,
		TextInput
	} from 'carbon-components-svelte';
	import type { ActionData, PageData } from './$types';
	import TimecardCell from '$lib/components/timecard/TimecardCell.svelte';

	export let data: PageData;
	export let form: ActionData;
	const rows = data.timecard;
	const dataMap = data.tcDetailMap;
	const headers = [
		{ key: 'time_card_date_string', value: 'Date' },
		{ key: 'in_time_string', value: 'In' },
		{ key: 'out_time_string', value: 'Out' },
		{ key: 'exceptions', value: 'Tags' },
		{ key: 'normal', value: 'Overtime' },
		{ key: 'unfulfilledFinal', value: 'Tardy/Undertime' },
		{ key: 'overBreakFinal', value: 'Overbreak' },
		{ key: 'absenceFinal', value: 'Absence' },
		{ key: 'id', value: 'Check to Dispute / Remarks' }
	];

	const handSubmit = (event: Event) => {
		if (!accepted || !validated) event.preventDefault();
	};

	let accepted = false;
	let validated = false;
	let modalOpen = false;
	let formElement: HTMLFormElement;
</script>

<Form method="POST" on:submit={handSubmit} bind:ref={formElement}>
	<Grid padding>
		<Row>
			<Column>
				<h2>{data.employee.name}</h2>
			</Column>
		</Row>
		<Row style="margin-top: 1rem;">
			<Column>
				<DataTable {headers} {rows} title="Validate DTR" description="To dispute, check the checkbox (rightmost column) and provide a reason for dispute. Certify and submit for the approval of department head.">
					<svelte:fragment slot="cell" let:row let:cell>
						{#if cell.key === 'id'}
							<FormGroup style="display: flex; justify-content: flex-start; margin: 0.5rem">
								{@const dispute = form?.data?.get(`dispute[${cell.value}]`)?.toString()}
								{@const remarks = form?.data?.get(`remarks[${cell.value}]`)?.toString()}
								{@const tcData = dataMap.get(cell.value)}
								{@const error = form?.errors?.get(cell.value)}
								<Checkbox
									name={`dispute[${cell.value}]`}
									hideLabel
									checked={dispute !== undefined || tcData?.userStatus === 'DISPUTED'}
								/>
								<TextInput
									name={`remarks[${cell.value}]`}
									light
									hideLabel
									placeholder="Remarks"
									invalid={error !== undefined}
									invalidText={error?.toString()}
									value={remarks || tcData?.userRemarks}
								/>
							</FormGroup>
						{:else}
							<TimecardCell {cell} />
						{/if}
					</svelte:fragment>
				</DataTable>
			</Column>
		</Row>
		<Row>
			<Column>
				<Checkbox
					bind:checked={accepted}
					labelText="I certify that the information provided is true and correct."
				/>
			</Column>
		</Row>
		<Row>
			<Column>
				<Button disabled={!accepted} type="submit" on:click={(e) => { e.preventDefault(); modalOpen = true; }}>Submit</Button>
			</Column>
		</Row>
	</Grid>
</Form>

<Modal
	bind:open={modalOpen}
	modalHeading="Validate DTR"
	primaryButtonText="Confirm"
	secondaryButtonText="Cancel"
	on:click:button--secondary={() => (modalOpen = false)}
	on:click:button--primary={() => {
		validated = true;
		formElement.submit();
		modalOpen = false;
	}}
>
	<p>Are you sure you want to submit?</p>
</Modal>
