<script lang="ts">
	import {
		Button,
		Column,
		Grid,
		Loading,
		Row,
	} from 'carbon-components-svelte';
	import CheckmarkFilled from 'carbon-icons-svelte/lib/CheckmarkFilled.svelte';
	import PreviousOutline from 'carbon-icons-svelte/lib/PreviousOutline.svelte';
	import NextOutline from 'carbon-icons-svelte/lib/NextOutline.svelte';
	import type { PageData } from './$types';
	import moment from 'moment';
	import { ListChecked } from 'carbon-icons-svelte';
	import SummaryTable from './SummaryTable.svelte';
	export let data: PageData;
</script>

<Grid padding>
	<Row>
		<Column>
			<h1>{data.bsUser.name}</h1>
		</Column>
	</Row>
	{#await data.summary}
		<Row>
			<Column>
				<Loading />
			</Column>
		</Row>
	{:then result}
		<Row>
			<Column>
				<div class="flex flex-row items-center">
					<Button
						kind="ghost"
						iconDescription="Previous"
						icon={PreviousOutline}
						href="/summary?offset={data.offset - 1}"
					/>
					<h2>{data.subheader}</h2>
					<Button
						kind="ghost"
						iconDescription="Next"
						icon={NextOutline}
						href="/summary?offset={data.offset + 1}"
					/>
				</div>
			</Column>
			<Column style="text-align: right">
				<Button icon={ListChecked} href="/validate" kind="primary">Validate DTR</Button>
			</Column>
		</Row>
		<Row>
			<Column>
				<SummaryTable {result} />
			</Column>
		</Row>
	{/await}
</Grid>
