<script lang="ts">
	import {
		Table,
		TableBody,
		TableCell,
		TableHead,
		TableHeader,
		TableRow,
		Tag
	} from 'carbon-components-svelte';
	import moment from 'moment';

	export let result: Record<string, any>;
	let dayofweek = [7, 1, 2, 3, 4, 5, 6];
</script>

<Table>
	<TableHead>
		<TableRow>
			<TableHeader class="min-w-32">Sunday</TableHeader>
			<TableHeader class="min-w-32">Monday</TableHeader>
			<TableHeader class="min-w-32">Tuesday</TableHeader>
			<TableHeader class="min-w-32">Wednesday</TableHeader>
			<TableHeader class="min-w-32">Thursday</TableHeader>
			<TableHeader class="min-w-32">Friday</TableHeader>
			<TableHeader class="min-w-32">Saturday</TableHeader>
		</TableRow>
	</TableHead>
	<TableBody>
		{#each result.weekly as week}
			{#if week}
				<TableRow>
					{#each dayofweek as day}
						<TableCell style="vertical-align: top;">
							{#if week[day]}
								{@const tc = week[day]}
								<div class="p-2">{moment(tc.time_card_date_string).date()}</div>
								<div class="pl-2 pb-2">
									{#if tc.in_time && tc.out_time}
										<Tag type={tc.exceptions.length ? 'red' : 'outline'}>
											{moment(tc.in_time).format('hh:mm a')} -
											{moment(tc.out_time).format('hh:mm a')}
										</Tag><br />
									{/if}
									{#each tc.exceptions as exception}
										<Tag type="red">
											{exception.name}
										</Tag><br />
									{/each}
								</div>
							{:else}
								<div class="empty">N/A</div>
							{/if}
						</TableCell>
					{/each}
				</TableRow>
			{/if}
		{:else}
			<TableRow>
				<TableCell colspan={7}><div class="empty">NO DATA</div></TableCell>
			</TableRow>
		{/each}
	</TableBody>
</Table>

<style lang="postcss">
	.empty {
		@apply italic text-center pt-2;
	}
</style>
