<script lang="ts">
    import { Column, DataTable, Grid, Row, Link } from 'carbon-components-svelte';
import type { PageData } from './$types';
	import TimecardCell from '$lib/components/timecard/TimecardCell.svelte';
    
    export let data: PageData;
    const headers = [
        { key: 'id', value: 'ID' },
        { key: 'startDate', value: 'Start Date' },
        { key: 'endDate', value: 'End date' },
        { key: 'department', value: 'Department' },
        { key: 'name', value: 'Name' },
        { key: 'statusId', value: 'Status' },

    ];
</script>

<Grid>
    <Row>
        <Column>
            <DataTable {headers} rows={data.timecards} title="Timecards">
                <svelte:fragment slot="cell" let:row let:cell>
                    {#if cell.key === 'id'}
                        <Link href={`/timecard/${cell.value}`}>{cell.value}</Link>
                    {:else}
                        <TimecardCell {row} {cell} />
                    {/if}
                </svelte:fragment>
            </DataTable>
        </Column>
    </Row>
</Grid>