<script lang="ts">
	import { Button, Column, DataTable, Form, Grid, Row, Select, SelectItem } from 'carbon-components-svelte';
	import type { PageData } from './$types';

	export let data: PageData;
</script>

<Form method="POST">
	<Grid padding>
		<Row>
			<Column>
				<Select name="empId" labelText="Specify Employee ID Column">
					{#each data.headers as header}
						<SelectItem value={header.key} text={header.value ?? ''} />
					{/each}
				</Select>
			</Column>
			<Column>
				<Select name="email" labelText="Specify Email Column">
					{#each data.headers as header}
						<SelectItem value={header.key} text={header.value ?? ''} />
					{/each}
				</Select>
			</Column>
		</Row>
		<Row>
			<Column>
				<DataTable title="Preview" description={data.fileName} headers={data.headers} rows={data.rows} />
			</Column>
		</Row>
        <Row>
            <Column>
                <Button type="submit" kind="primary">Begin Import</Button>
            </Column>
        </Row>
	</Grid>
</Form>
