<script lang="ts">
	import { Column, DataTable, Grid, Link, Row } from 'carbon-components-svelte';
	import type { PageData } from './$types';
	import { page } from '$app/stores';
	import SecondsToHourNum from '$lib/components/timecard/SecondsToHourNum.svelte';
	import { toLocaleDateString } from '$lib/helpers/TimeCard';

	export let data: PageData;
	const headers = [
		{ key: 'displayName', value: 'Name' },
		{ key: 'totalOvertimeFinalHrd', value: 'Total Overtime' },
		{ key: 'totalUnfulfilledFinalHrd', value: 'Total Tardy/Undertime' },
		{ key: 'totalOverBreakFinalHrd', value: 'Total Overbreak' },
		{ key: 'totalAbsenceFinalHrd', value: 'Total Absence' },
	];
</script>

<Grid padding>
	<Row>
		<Column>
			<h2>
				Accounting DTR Validation:
				<em>
					{toLocaleDateString(data.cutoff.startDate)} - 
					{toLocaleDateString(data.cutoff.endDate)}
				</em>
			</h2>
		</Column>
	</Row>
	<Row>
		<Column>
			<DataTable title={`${data.department.campus.name}: ${data.department.name} Employees`} {headers} rows={data.timeCardValidation}>
				<svelte:fragment slot="cell" let:row let:cell>
					{#if cell.key === 'id'}
						<Link href={`${$page.url.pathname}/${cell.value}`}>{cell.value}</Link>
					{:else if cell.key === 'totalOvertimeFinalHrd' || cell.key === 'totalUnfulfilledFinalHrd' || cell.key === 'totalOverBreakFinalHrd'}
						<SecondsToHourNum  seconds={cell.value} />
					{:else}
						{cell.value}
					{/if}
				</svelte:fragment>
			</DataTable>
		</Column>
	</Row>
</Grid>
