<script lang="ts">
	import { Breadcrumb, BreadcrumbItem, Button, Column, DataTable, DataTableSkeleton, Grid, Link, Row } from 'carbon-components-svelte';
	import type { PageData } from './$types';
	const headers = [
		{ key: 'id', value: 'ID' },
		{ key: 'startDate', value: 'Start Date' },
		{ key: 'endDate', value: 'End Date' },
		{ key: 'status', value: 'Status' }
	];
	export let data: PageData;
</script>

<Grid padding>
	<Row>
		<Column>
			<Button href="/hrd/cutoff/create">Add Cutoff</Button>
		</Column>
	</Row>
	<Row>
		<Column>
			{#await data.cutoffs}
				<DataTableSkeleton {headers} showHeader={false} showToolbar={false} />
			{:then rows}
				<DataTable title="Cutoff Dates" description="Click the ID to edit cutoff." {headers} {rows}>
					<svelte:fragment slot="cell" let:row let:cell>
						{#if cell.value instanceof Date}
							{cell.value.toLocaleDateString('en-PH', { year: 'numeric', month: 'long', day: 'numeric' })}
						{:else if cell.key === 'id'}
							<Link href="/hrd/cutoff/{cell.value}">{cell.value}</Link>
						{:else}
							{cell.value}
						{/if}
					</svelte:fragment>
				</DataTable>
			{/await}
		</Column>
	</Row>
</Grid>
