<script>
	import {
		Button,
		DatePicker,
		DatePickerInput,
		Form,
		FormGroup,
		InlineNotification,
		Select,
		SelectItem
	} from 'carbon-components-svelte';
	import { superForm } from 'sveltekit-superforms';

	export let data;
	const { form, message, errors } = superForm(data.form);
	const dateLocaleOptions = {
		year: 'numeric',
		month: 'numeric',
		day: 'numeric'
	};
	if (!$form.startDate) $form.startDate = new Date();
	if (!$form.endDate) $form.endDate = new Date();
</script>

<Form method="POST">
	<FormGroup legendText="Cutoff Date">
		<DatePicker
			datePickerType="range"
			valueFrom={$form.startDate.toLocaleDateString('en-PH', dateLocaleOptions)}
			valueTo={$form.endDate.toLocaleDateString('en-PH', dateLocaleOptions)}
		>
			<DatePickerInput labelText="Start date" name="startDate" />
			<DatePickerInput labelText="End date" name="endDate" />
		</DatePicker>
	</FormGroup>
	<FormGroup>
		<Select labelText="Status" selected={$form.status === '' ? 'Active' : $form.status} name="status">
			<SelectItem value="Active">Active</SelectItem>
			<SelectItem value="Inactive">Inactive</SelectItem>
		</Select>
	</FormGroup>
	<Button type="submit">Submit</Button>
    <Button href="." kind="secondary">Cancel</Button>
</Form>
