<script lang="ts">
	import { Button, Column, DataTable, Grid, Link, Row } from 'carbon-components-svelte';
	import type { PageData } from './$types';
	import { TimeCardStatus } from '$lib/types/TimeCard';
	import TimeCardStepStatus from '$lib/components/timecard/TimeCardStepStatus.svelte';
	import { page } from '$app/stores';
	import { toLocaleDateString } from '$lib/helpers/TimeCard';

	export let data: PageData;
	const headers = [
		{ key: 'id', value: 'ID' },
		{ key: 'statusId', value: 'Status' }
	];
</script>

<Grid padding>
	<Row>
		<Column>
			<h2>
				HRD DTR Validation:
				<em>
					{toLocaleDateString(data.cutoff.startDate)} -
					{toLocaleDateString(data.cutoff.endDate)}
				</em>
			</h2>
		</Column>
	</Row>
	<Row>
		<Column>
			<DataTable title={`${data.department.campus.name}: ${data.department.name} Employees`} {headers} rows={data.timeCardValidation}>
				<svelte:fragment slot="cell" let:row let:cell>
					{#if cell.key === 'id'}
						<Button kind="ghost" href={`${$page.url.pathname}/${cell.value}`}>{row.displayName}</Button>
					{:else if cell.key === 'statusId'}
						<TimeCardStepStatus statusId={cell.value} />
					{:else}
						{cell.value}
					{/if}
				</svelte:fragment>
			</DataTable>
		</Column>
	</Row>
</Grid>
