<script lang="ts">
	import Welcome from '$lib/components/Welcome.svelte';
	import { ClickableTile, Column, Grid, Row } from 'carbon-components-svelte';
	import type { PageData } from './$types';
	import Calendar from 'carbon-pictograms-svelte/lib/Calendar.svelte';
	import ListCheckbox from 'carbon-pictograms-svelte/lib/ListCheckbox.svelte';
	export let data: PageData;
</script>

{#if data.user}
	<Grid padding>
		<Row>
			<Column>
				<ClickableTile href="/hrd/cutoff">
					<Grid>
						<Row>
							<Column>
								<Calendar />
							</Column>
						</Row>
						<Row>
							<Column>
								<h1>Cut Off Dates</h1>
							</Column>
						</Row>
					</Grid>
				</ClickableTile>
			</Column>
			<Column>
				<ClickableTile href="/hrd/validate">
					<Grid>
						<Row>
							<Column>
								<ListCheckbox />
							</Column>
						</Row>
						<Row>
							<Column>
								<h1>Validate DTR</h1>
							</Column>
						</Row>
					</Grid>
				</ClickableTile>
			</Column>
		</Row>
	</Grid>
{:else}
	<Welcome />
{/if}
