<script lang="ts">
	import { Button, Column, Grid, Row } from 'carbon-components-svelte';
	import Login from 'carbon-icons-svelte/lib/Login.svelte';
</script>

<Grid padding>
	<Row>
		<Column>
			<h1>Welcome to CEU Daily-Time-Record (DTR)</h1>
		</Column>
	</Row>
	<Row>
		<Column>
			<p>
				This webpage grants CEU employees real-time access to their time-in and time-out records. By
				logging in, you confirm that you are an active CEU employee and have authorization to use
				this page.
			</p>
			<p>
				Unauthorized attempts and actions to access or use this system may result in civil and/or
				criminal penalties. All activities performed on this device are logged and monitored.
			</p>
		</Column>
	</Row>
	<Row>
		<Column>
			<Button href="/login/keycloak" icon={Login}>Login</Button>
		</Column>
	</Row>
</Grid>
