<script lang="ts">
	/**
	 * List employeees under the department.
	 */
	import {
		Button,
		Column,
		ComboBox,
		DataTable,
		InlineNotification,
		Form,
		FormGroup,
		Grid,
		Link,
		Row
	} from 'carbon-components-svelte';
	import type { PageData } from './$types';
	import TimeCardStepStatus from '$lib/components/timecard/TimeCardStepStatus.svelte';
	import { page } from '$app/stores';
	import { goto } from '$app/navigation';
	import { TimeCardStatus } from '$lib/types/TimeCard';

	export let data: PageData;
	let comboCutoff: HTMLInputElement;
	let selectedId: string | undefined = data.selectedId;

	const headers = [
		{ key: 'id', value: 'Name' },
		{ key: 'statusId', value: 'Status' }
	];

	const getURL = (id: string) => {
		const url = new URL(`${$page.url.pathname}/${id}`, $page.url);
		url.search = $page.url.search;
		return url.toString();
	};
</script>

<Grid padding>
	<Row>
		<Column>
			<h2>{data.department.campus.name}: {data.department.name} Employees</h2>
		</Column>
	</Row>
	<Row>
		<Column>
			<ComboBox
				bind:ref={comboCutoff}
				title="Cutoff"
				placeholder="Select a cutoff"
				items={data.cutoffs}
				bind:selectedId
				invalid={selectedId === undefined}
				invalidText="Please select a cutoff"
				on:select={(e) => {
					const url = new URL(`${$page.url.pathname}`, $page.url);
					url.searchParams.set('cutoff', e.detail.selectedItem.id);
					goto(url.toString());
				}}
			/>
			{#if data.timecards.length === 0 && $page.url.searchParams.get('cutoff')}
				<InlineNotification
					hideCloseButton
					kind="warning"
					title="Empty:"
					subtitle="No DTR found under this cutoff. Please select a different cutoff."
				/>
			{/if}
		</Column>
	</Row>
	<Row>
		<Column>
			<DataTable {headers} rows={data.timecards}>
				<svelte:fragment slot="cell" let:row let:cell>
					{#if cell.key === 'id'}
						{#if row.statusId === TimeCardStatus.EmployeeSubmitted}
							<Link href="#" on:click={() => goto(getURL(cell.value))}>{row.displayName}</Link>
						{:else}
							{row.displayName}
							<em>(Submitted)</em>
						{/if}
					{:else if cell.key === 'statusId'}
						<TimeCardStepStatus statusId={cell.value} />
					{:else}
						{cell.value}
					{/if}
				</svelte:fragment>
			</DataTable>
		</Column>
	</Row>
</Grid>
